*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li{
  list-style-type: none;
}

a{
  text-decoration: none;
}

body {
  background-color: #2D2C27;
  font-family: 'Cinzel', serif;

}

.title{
  padding-top: 50px;
  text-align:center;
  color: white;
  text-transform: uppercase;
  font-size: 50px;
  
}

.box{
  border: black solid 5px;
  padding: 20px;
  margin-top: 50px;
  margin-left: 35%;
  margin-right: 35%;
  border-radius: 20px;
  background-color: bisque;
}

.box form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.input-wrapper{
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  background-color: #2D2C27;
}

.input-wrapper input{
  color: black;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  font-family: 'Cinzel', serif;

}



.btn {
  padding: 20px;
  border-radius: 20px;
  color: white;
  font-size: 15px;
  padding-left: 100px;
  padding-right: 100px;
  background-color: #2D2C27;
  font-family: 'Cinzel', serif;
  font-size: 20px;

}

.button2{
  border-radius: 20px;
  padding: 5px;
  color: #2D2C27;
  margin-bottom: 15px;
  display: block;
  color:black;
}